@import-normalize;

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 24px;
  border-radius: 25px;
  /* background-image: url(./images/cafea.png); */
  background-color: rgba(245, 232, 244, 0.5);
  background-size: cover;
  height: 1250px;
}
ul {
  display: flex;
  list-style: none;
  gap: 15px;
}

button {
  background-color: rgb(229, 215, 225);
  font-size: 20px;
  border-radius: 10px;
  color: black;
  padding: 18px 18px;
  text-align: center;
  text-decoration: none;
  margin: 10px 10px;
  cursor: pointer;
  border: 2px solid #333;
  font-weight: bold;
}

button:hover {
  background-color: rgb(245, 220, 233);
}

h1 {
  text-shadow: 3px 2px 0 #000;
}

section {
  background-color: rgb(239, 231, 232);
  border-radius: 25px;
  padding: 10px;
  font-weight: bold;
  border-style: inset;
  border: 3px solid #333;
  align-items: center;
}

.FeedbackType {
  font-size: 24px;
  font-weight: bold;
  align-items: left;
  margin: 0 10px;
}
